<!DOCTYPE html>
<html lang="en">

  <head>
    <% include parts/head.ejs %>
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1><%= title %></h1>
        <% var subtitle = subtitles[Math.floor(Math.random()*(subtitles.length-0)+0)]; %>
        <p class="lead"><%= subtitle %></p>
      </div>
      <% include parts/post.ejs %>
      <div id="posts">
        <% if(data.length === 0) { %>
          <p id="none">No post for now... How sad...</p>
        <% } else {
          data.forEach(function(post, index) { %>
            <blockquote id="<%= post._id %>"<% if(index%2 !== 0) { %> class="blockquote-reverse"<% }%>>
              <div><%- post.text %></div>
              <p title="<%= post._id %>"><small><strong><%= post.by %></strong> - <em><%= post.date %></em></small></p>
            </blockquote>
        <% })}; %>
      </div>
    </div>
    <% include parts/footer.ejs %>
  </body>

</html>
